$LightBeige: #FEF9E6;
$PeachPuff: #FAE3D5;
$MistyRose: #F9D8D3;
$LavenderGray: #CFC7D4;
$Mauve: #8F7C9A;
$DeepTeal: #124E59;
$SlateBlue: #3D7085;
$LightSkyBlue: #94CAF8;
$PowderBlue: #C5E3FF;


//site color variables
$body-color: #C5E3FF;
$primary-color: #3D7085;
$secondary-color: #8F7C9A;
$text-color: #C5E3FF;
$text-color-dark: #124E59;
$gray: #3D7085;
$dark-gray: #124E59;


$original-body-color: #fff;
$original-primary-color: #EAA4A4;
$original-secondary-color: #ADD6D2;
$original-text-color: #9D9EA5;
$original-text-color-dark: #00113E;
$original-site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$original-gray: #F7F9FF;
$original-dark-gray: #646569;

// solid colors
$white: #FEF9E6;
$black: #1c010d;

$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


