{{ define "main" }}

<section class="site-single-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="site-about-header-content">
                    <h1>
                        {{ .Title | safeHTML }}
                    </h1>
                </div>
            </div>
            <div class="col-lg-4">
                {{ if .Params.arrow}}
                    <a href="#about" class="site-about-header-action scroll-to">
                        <span>Nach Unten</span>
                        <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
                    </a>
                {{end}}
            </div>
        </div>
    </div>
</section>

<section class="site-single-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <article class="site-about-details">
                    {{ .Content | safeHTML }}
                </article>
            </div>
        </div>
    </div>
</section>

{{ if .Params.arrow}}

    {{ partial "call-to-action.html" . }}

{{ end }}

{{ end }}