{{ with .Site.Data.expertise }}
{{ if .enable }}
<section class="site-expertise">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title">
                    <h2>{{ .heading }}</h2>
                    <p>{{ .subtext }}</p>
                </div>
            </div>
            <div class="col-md-7">
                <ul class="site-expertise-list">
                    {{ range .counter_item }}
                    <li><b>{{ .year }}</b> : {{ .diploma }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}