<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        <main>
            <section class="site-404">
                <div class="container">
                    <div class="top">
                        <h1>404</h1>
                        <h3>Du suchts etwas das es nicht gibt.</h3>
                    </div>
                    <div class="middle">
                        <img src="{{ "/images/witch-cat.svg" | absURL }}" alt="witch-cat" />
                    </div>
                    <div class="bottom">
                        <h3>Ob die kleine Hexenkatze es wohl weggezaubert hat?</h3>
                        <h4>Weiter unten findest Du alle Seiten.</h4>
                    </div>
                </div>
            </section>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>